./*
!./README.md
!./.gitignore
/create/models/block/analog_lever/item.json
/create/models/block/nixie_tube/item.json
/create/models/block/diodes/latch_off.json
/create/models/block/diodes/latch_on.json
/minecraft/textures/block/lever.png
/create/blockstates/nixie_tube.json
/create/textures/block/nixie_tube.png
/create/textures/block/diodes/powered_toggle_latch/powered.png
/create/blockstates/powered_latch.json
/create/models/block/powered_latch.json
/create/models/block/powered_latch_powered.json
/create/textures/block/diodes/powered_toggle_latch/powered_powering.png
/create/textures/block/diodes/powered_latch/powering.png
/create/textures/block/diodes/powered_toggle_latch/powering.png
/minecraft/textures/block/redstone_torch.png
/minecraft/textures/block/redstone_torch_off.png
/minecraft/textures/block/smooth_stone.png
/create/models/block/analog_lever/indicator.json
/create/textures/block/diodes/powered_toggle_latch/idle.png
/create/textures/block/diodes/powered_latch/idle.png
/create/models/block/analog_lever/handle.json
/minecraft/textures/block/cobblestone.png
/create/models/block/nixie_tube/block.json
/create/models/block/analog_lever/block.json
/create/blockstates/analog_lever.json
